/* HEADER */

.adminhtml-email_template-popup.page-layout-admin-1column {
    background-color: #fbece8 !important;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0 5px;
}

.main-content {
    background-color: transparent !important;
}

