.footer{
    margin-top: 80px;
}
.numero{
    background-color: white;
    padding: 10px;
    display: block;
    margin: auto;
    border: 1px solid #fbc1b4;
    border-radius: 20px;
    font-weight: bold;
    color: #cf5d43;
}
.footer>div>div>h2{
    background-color: #fdded7;
    padding: 10px;
}
.footer>div>div>p{
    font-size: 14px;
    width: max-content;
    display: block;
    margin: auto;
}
.footer>div>p{
    font-size: 14px;
    width: max-content;
    display: block;
    margin: auto;
}
.ins{
    height: 32px;
    width: 32px;
}
.redes{
    display: flex;
    gap: 20px;
    margin: auto;
    width: max-content;
    margin-top: 20px;
}
.footer>div>div>a{
    text-decoration: none;
}
.footer>div>div>a>p{
    font-size: 14px;
    width: max-content;
    display: block;
    margin: auto;
    color: black;
    
}
.ouro{
    font-weight: bold;
    font-size: 10px !important;
}
.Direitos{
    margin-top: 30px;
}

@media (min-width:768px) {
    .seccao{
        display: flex;
        gap:5px;
        width: 100%;
        background-color: rgb(249, 243, 234);
    
    }
    .central{
        
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nobreza{
        background-color: #fdded7;
        height: 198px;
        width: 200px;
        position: absolute;
        right: 202px;
        
       
    }
    .servicos{
        background-color: #fdded7;
        height: 198px;
        width: 200px;
        position: absolute;
        right: 0px;
    }
    .central>h2{
        color: #cf5d43;
        background-color: white !important;
    }
    .servicos>h2{
        color: #cf5d43;

    }
    .nobreza>h2{
        color: #cf5d43;
    }
}
@media (min-width:1024px) {
    .nobreza{
        width: 300px;
        right: 302px;
    }
    .servicos{
        width: 300px;
    }
    .central{
        padding-left: 40px;
        padding-right: 40px;
    }
}