.cart{
    position: absolute !important;
    top:70px;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    width:85% !important;
    border-radius: 10px;
    overflow-y: auto !important;
    display: block;
    margin: auto !important;
    height: max-content !important;
    z-index: 20;
    padding-bottom: 30px;
    overflow-y: scroll !important;
    
    
}
.invisivel{
    display: none;
}
.cart>h2{
    color: #E06E51;
    margin-top: 30px;
    font-size: medium;
    
}
.logocar{
    position: absolute;
    left: 0;
    margin-top: 20px;

   
}
li{
    margin-top: 30px;
    width: max-content;
    display: flex;
}
.closser{
    position: absolute;
    right: 10px;
    margin-top: 20px;
}


.imgcarrinho{
    
    width: 70px !important;
}
.namecarrinho{
    color: #423838 !important;
    display: -webkit-box;
    margin-bottom: 7px;
    line-height: normal;
    width: 150px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 5px;
    font-weight: bold;
    font-size: small;
}
#prec{
    font-size: small;
    margin-left: 9px;
    color:rgb(19, 70, 53);
}
.precocarrinho{
    color: #E06E51;
    text-transform: uppercase;
    font-weight: 600;
    
}
.remover{
    background-color: #b62d0b;
    border: none;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: normal;
}
.remover:hover{
    background-color: #E06E51;
}

.Sair{
    background-color: #b62d0b;
    border: none;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: normal;
    width: 60px;
}
.Sair:hover{
    background-color: #E06E51;
    cursor: pointer;
}
.fc{
    background-color: rgb(6, 125, 85);
    
    border: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: normal;
    width: 170px;
    margin-bottom: 30px;
    
   
    
}
.mostr{
display: block;
height: 100vh;
width: 100vw;

}
.fc:hover{
    background-color:rgb(8, 161, 110) ;
    cursor: pointer;
}

@media (min-width:481px) {
    .namecarrinho{
        width: 250px;
    }
}
@media (min-width:768px) {
    .cart{
        position: absolute;
    }
    .cart>ul{
        
    }
    .cart{
        height: 450px;
    }
    .fc{
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 35px;
    }
    .Sair{
        position: absolute;
        bottom: 30px;
        left: 50px;
        height: 35px;
        background-color: #b62d0b;
        
    }
    .Total{
        font-size: medium;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    
    
    .botoes{
        display: flex;
        
    }
    @media (min-width:1024px) {
        .cart{
            width: 800px !important;
            display: block !important;
            margin: auto !important;
        }
        .cart{
            row-gap: 10px;
            height: max-content;
        }
        li{
            width: 350px;
        }
        .namecarrinho{
            -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        }
        .imgcarrinho{
            width: 100px !important;
        }
        
    }
}