.Cardd{
    display: block;
    margin: auto;
    width: 90%;
    height: 100vh;

}
.invisivel{
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor escura semi-transparente */
    z-index: 1; /* Certifique-se de que a camada de fundo esteja acima de outros elementos */
  }


  @media (min-width:1024px) {
    .Cardd{
        width: 800px;
            display: block !important;
            margin: auto !important;
    }
  }